.bg-brown {
    background-color: #61463b;
  }
  
  .color-brown {
    color: #61463b;
  }
  
  .bg-grey {
    background-color: #2d3039;
  }
  
  .bg-grey2 {
    background-color: #6b6e7d;
  }
  
  .color-grey {
    color: #2d3039;
  }
  
  .color-grey2 {
    color: #6b6e7d;
  }
  
  .line-through {
    text-decoration: line-through;
  }
  
  .two-columns {
    grid-template-columns: 1fr 1fr;
  }
  
  a {
    text-decoration: none;
  }
  
  .top img {
    max-width: 50px;
  }
  
  .menu .cart {
    position: relative;
    min-width: 40px;
  }
  .menu .cart i {
    color: #fff;
    font-size: 25px;
  }
  .menu .cart span {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    bottom: 10px;
    right: 2px;
    padding: 0 7px;
    font-size: 12px;
    border: 1px solid #61463c;
    font-weight: bold;
  }
  
  .menu nav {
    max-width: 285px;
    overflow: auto;
  }
  
  .menu nav a {
    color: #fff;
  }
  
  #content .product {
    border: 1px solid #eee;
  }
  #content .product .title a {
    font-weight: bold;
  }
  
  #content .product .image {
    min-height: 300px;
  }
  #content .product .image img {
  }

  #content p {text-align: justify;}

  #content iframe {
    width: 100%;
    height: 450px;
  }

  .social-media a {
    color: #000;
  }

  .social-media a i {
    font-size: 25px
  }
  
  #footer .block {
      max-width: 350px;
      overflow: auto;
  }
  
  @media (min-width: 991px) {
    .menu nav {
        max-width: 100%;
    }

    #footer .block {max-width: 100%;}
  }
  
  .btn-add-cart-tables {
    width: 100%;
    border-radius: 2px;
  }
